# Terraform specific
*.tfstate
*.tfstate.backup
.terraform/
.terraform.tfstate.lock.info
.terraform.lock.hcl
*.tfvars

# Common file keys
key.json

# Other
*.0_x5
.DS_Store

# Service account key files
key.json

# Generated bash scripts
Yandex-Azure-Arc-K8S/terraform/scripts/*.sh